body{
	margin:0;
	padding:0;
}

main{
	height:100vh;
	background-color: #e3e9ff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-class{
	width: 15%;
	background-color: #FFF;
	border:1px solid #00000020;
	position: absolute;
	top: 24%;
	left: 42%;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.16);
	-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.16);
	box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.16);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:10px;
	transition: .5s ease-in-out;
}

.form-class .exit-btn{
	align-self: flex-end;
	margin-bottom: 10px;
	background: none;
	border:none;
	cursor: pointer;
	font-size:1.2em;
	border-radius: 50%;
	color:#939bbe;
	transition:.2s ease-in-out;

}

.form-class .exit-btn:hover{
	background-color: #af7eeb;
	color:#fff;
	
}

.form-class label{
	display: flex;
	flex-direction: column;	
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
}

.form-class .add-btn{
	background-color: #af7eeb;
	border:none;
	height:30px;
	color:#fff;
	font-weight: bold;
	cursor: pointer;
}

main .open-btn-class{
	width:45%;
	background-color: #af7eeb;
	border:none;
	height:10%;
	margin-bottom:20px;
	color:#ffffff;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}


main .book-obj{
	height:70%;
	width:45%;
	background-color: #ffffff;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.28);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.28);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.28);
}

main .add-button{
	background-color:#af7eeb;
	border:none;
	position: absolute;
	bottom: 35px;
	padding: 7px 15px;
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	display: flex;
	justify-content: space-around;
	width:12%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.28);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.28);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.28);
	cursor: pointer;

}

main .add-button:after{
	content: '';
	height: 39px;
	width: 20px;
	background-color: #af7eeb;
	position: absolute;
	right: -19px;
	top: 0px;
	border-radius: 0 50px 50px 0;
	box-shadow: 6px 0px 6px -3px rgba(50, 50, 50, 0.28)
}

main .add-button:before{
	content: '';
	height: 39px;
	width: 20px;
	background-color: #af7eeb;
	position: absolute;
	left: -19px;
	top: 0px;
	border-radius: 50px 0 0 50px;
	box-shadow: -6px 0px 6px -3px rgba(50, 50, 50, 0.28);

}



.book-style{

	height:10%;
	margin:10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.75);
}

.children-style{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color:#939bbe;
	width:35%;
}


.span-style{
	margin:5px 0;
}

.exit{
	background: none;
	border:none;
	color:#939bbe;
	font-size:1.2em;
	cursor: pointer;
}	


.display-none{
	
	transform: scale(0);
}

.display-block{
	transform: scale(1);
}

