body{
	margin:0;
	padding:0;
}

main{
	height:100vh;
	background-color: #e3e9ff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main .open-btn-class{
	width:45%;
	background-color: #af7eeb;
	border:none;
	height:10%;
	margin-bottom:20px;
	color:#ffffff;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


main .book-obj{
	height:70%;
	width:45%;
	background-color: #ffffff;
	overflow: auto;
}

main .add-button{
	background-color:#af7eeb;
	border:none;
	position: absolute;
	bottom: 38px;
	padding: 20px 30px;
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	display: flex;
	justify-content: space-around;
	width:12%;
}

main .add-button:after{
	content: '';
	height: 65px;
	width: 36px;
	background-color: #af7eeb;
	position: absolute;
	right: -34px;
	top: 0px;
	border-radius: 0 50px 50px 0;
}

main .add-button:before{
	content: '';
	height: 65px;
	width: 36px;
	background-color: #af7eeb;
	position: absolute;
	left: -34px;
	top: 0px;
	border-radius: 50px 0 0 50px;
}

.book-style{

	height:10%;
	margin:10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.75);
}

.children-style{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color:#939bbe;
	width:35%;
}


.span-style{
	margin:5px 0;
}

.exit{
	background: none;
	border:none;
	color:#939bbe;
	font-size:1.2em;

}

